/**
 * @description common.scss公共文件
 */
 body {
   min-width: 1000px;
 }

 .page-content {
   margin-left: 222px;
   margin-top: 70px;
   font-size: 14px;
   line-height: 1.42;
   min-width: 1098px;
 }

 span.label {
   cursor: pointer;
 }
